# General files
*.ipynb
*.json
scratch.*

# Directories
artifacts/
experiments/
gymnasium/

# Python cache and build
__pycache__/
dist/
*.egg-info/
build/

# Jupyter & IPython
.ipynb_checkpoints/
profile_default/
ipython_config.py

# Virtual environments
.venv*/
env/
venv/

# Quality Control
.mypy_cache/
.ruff_cache/
.pytest_cache/

# OS/Editor files
.DS_Store
*.swp
*.bak
