# Files
scratch.ipynb
test.json*
*.log

# Directory
artifacts
experiments
gymnasium

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/

# Jupyter & IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Environments
.venv*

# Quality Control
.mypy_cache/
.ruff_cache/
.pytest_cache/
